:root {
  --el-color-white: #fff;

  // base color
  --blue: #324157;
  --light-blue: #3A71A8;
  --red: #C03639;
  --pink: #E65D6E;
  --green: #30B08F;
  --tiffany: #4AB7BD;
  --yellow: #FEC171;
  --pan-green: #30B08F;

  // sidebar
  --menu-text: #888888;
  --menu-active-text: #c5a880;
  --sub-menu-active-text: #ffffff;

  --menu-bg: #222222;
  --menu-hover: #2a2a2a;

  --sub-menu-bg: #1a1a1a;
  --sub-menu-hover: #262626;

  --side-bar-width: 240px;
  }